
<div class="container-fluid">
  <div class="row flex-xl-nowrap">

    <!-- Left Sidebar-->
    <div class="col-12 col-md-3 col-xl-2">


    </div>

    <!--   Main Section   -->
    <main class="col-10 col-md-11 col-xl-10 py-md-3 pl-md-5 bd-content" role="main">
      <div class="row">
      <div class="jumbotron">
        <h1 class="display-7">centralpoint.nl</h1>
        <h2>Code Challenge for Junior Front End Job Position</h2>
        <br>


          <a class="btn btn-primary btn-lg" href="https://github.com/rafaelmil/code-challenge-cp.git" role="button">Learn more</a>
        </p>
    </div>
  </div>


  </div><!-- End row-->

  <!--
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
  -->

</div><!-- End Main Container container-fluid -->
