<!-- Main Container Bar-->
<div class="container-fluid">
  <div class="row flex-xl-nowrap">

    <!-- Left Sidebar-->
    <div class="col-2 col-md-1 col-xl-2">


    </div>

    <!--   Main Section   -->
    <!--   Main Section   -->
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">


        <h5>This application comprises a code challenge for the Junior Front End Developer position.</h5>
        <p>The user can see a retrieved a list of a json server database.</p>
        <p>Actions</p>
        <ul>
          <li>Insert a new user pushing the button Add User in the Users tab.</li>
          <li>Update the data of a user pushing the pencil button in the row of the specific user.</li>
          <li>Delete a user pushing the remove button in the row of the specific user.</li>
        </ul>

    </main>


    </main>


  </div><!-- End row-->

</div><!-- End Main Container container-fluid -->
<footer class="footer">
  <div class="container text-center">
    <span class="text-muted"></span>

    <a href="https://github.com/rafaelmil/code-challenge-cp.git"><i class="fa fa-github" style="font-size:36px"></i> </i></a>

  </div>
</footer>
